
    {% extends "base.html" %}

    {% block title %}Acerca de Onlyflans{% endblock %}
    
    {% block content %}
        <h1 class="mb-3">Bienvenido a OnlyFlans</h1>

        <p class="mb-4">OnlyFlans es tu destino en línea para explorar 
        y disfrutar de una deliciosa variedad de flanes. 
        Aquí encontrarás una colección única de recetas 
        y creaciones de flanes, desde los sabores más 
        tradicionales hasta las innovaciones más sorprendentes. 
        Cada flan está cuidadosamente elaborado para deleitar tu paladar 
        y llevarte en un viaje culinario lleno de sabor y creatividad.</p>

        <h2 class="mb-3">Nuestra Misión</h2>

        <p class="mb-5">En OnlyFlans, nuestra misión es llevar la dulzura 
            y el arte del flan a cada rincón del mundo. 
            Creemos en la magia que un buen postre puede aportar a cualquier ocasión 
            y nos esforzamos por ofrecer lo mejor en calidad, sabor y presentación.
        </p>

        <h3 style="text-align: center;">    ¡Explora nuestro sitio y encuentra tu flan perfecto hoy!    </h3>
    {% endblock %}
