{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container">
    <h1>Flanes Públicos</h1>
    <div class="row">
        {% for flan in flanes %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
