{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}

<div class="container">
    <h1> Bienvenido a OnlyFlans {{username}} </h1>
    <ul class="row">
        {% for flan in flanes %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                    <div class="card-footer">
                        <a href="{% url 'flan_detail' flan.slug %}" class="btn btn-custom">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
<p class="text-black text-center py-3">Esta es una página exclusiva para usuarios registrados.</p>
{% endblock %}